header {
background: #000;
color: #fff;
padding: 20px;
text-align: center;
font-size: 28px;
font-weight: bold;
}
.banner {
width: 100%;
height: 300px;
background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70') no-repeat center/cover;
}